* {
  box-sizing: border-box;
  color: #111111;
}

body {
  background-color: #fff7ec;
  font-size: 1.3em;
  margin: 2rem;
  min-width: 400px;
}

main {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

footer > p {
  text-align: center;
}

ul {
  list-style-type: square;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #b30000;
  font-family: sans-serif;
}

h1,
h2 {
  font-weight: bolder;
}

/* h1 {
    text-align: center;
  } */

a {
  color: #ef6548;
  text-decoration: none;
}

a:hover {
  color: #b30000;
}

a::before {
  display: inline-block;
  content: url("icons/link-2.svg");
  margin-inline-end: 0.3em;
  transform: scale(0.85) translateY(0.175em);
}

.inline-icon {
  height: 1em;
  margin-bottom: -0.175em;
}

a > .inline-icon {
  padding-inline-end: 0.3em;
}

#navigation nav {
  margin-bottom: 1rem;
}

#site-navigation ul,
#section-navigation ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

/*
#navigation ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#navigation ul > li {
  display: inline;
}

#navigation li + li {
  margin-inline-start: 0.5em;
}

#site-navigation {
  font-size: 1.05em;
}

#section-navigation {
  font-size: 0.9em;
}
*/

/*
#navigation a {
  border: #fdbb84 solid 1px;
  padding: 5px 10px;
  border-radius: 20px;
}
*/

header {
  border-bottom: #ef6548 solid 1px;
}

footer {
  border-top: #ef6548 solid 1px;
}

#navigation a::before {
  content: "";
  margin-inline-end: 0.2em;
  transform: none;
}

#navigation ul > li.current > a {
  color: #7f0000;
}

figure {
  text-align: center;
  padding: 2em 0;
  margin: 0;
  border: #fdbb84 solid 1px;
  border-radius: 20px;
}

figure > img {
  width: min(calc(720px - 2em), calc(100% - 2em));
}

figure > figcaption {
  margin-top: 0.5em;
}

:root {
  --sections-gap: 0rem;
  --sections-per-line: 1;
}

#sections {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sections-gap);
}

#sections section {
  /* flex-basis: calc(33.33% - 1 / 3 * 4rem); */
  flex-basis: calc(
    100% / var(--sections-per-line) - 1 / var(--sections-per-line) *
      (var(--sections-per-line) - 1) * var(--sections-gap)
  );
}

@media screen and (min-width: 600px) {
  :root {
    --sections-gap: 2rem;
    --sections-per-line: 2;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --sections-gap: 2rem;
    --sections-per-line: 3;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --sections-gap: 2rem;
    --sections-per-line: 4;
  }
}

@media screen and (min-width: 800px) {
  #navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem 0;
  }
}

@media print {
  * {
    display: none;
  }
}
