* {
  box-sizing: border-box;
}

#fancy {
  color: rgb(0, 127, 127);
}

p {
  color: rgb(0, 127, 0);
}

.cute {
  color: rgb(0, 127, 127);
}

/* CSS */
.button-11 {
  touch-action: manipulation;
  position: relative;
  padding: 0;
  width: 100px;
  height: 100px;
  border: 2px solid #888888;
  outline: none;
  background-color: #f4f5f6;
  border-radius: 20px;
  box-shadow: -3px -10px 17.5px #ffffff, -3px -5px 7.5px #ffffff,
    -10px 0px 15px #ffffff, 3px 10px 12.5px rgba(0, 0, 0, 0.2);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.button-11:active {
  box-shadow: none;
}
.button-11:active .button-11__content {
  box-shadow: none;
}
.button-11:active .button-11__content .button-11__text,
.button-11:active .button-11__content .button-11__icon {
  transform: translate3d(0px, 0px, 0px);
}
.button-11__content {
  position: relative;
  display: grid;
  padding: 10px;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: inset 0px -4px 0px #dddddd, 0px -4px 0px #f4f5f6;
  border-radius: 20px;
  transition: 0.13s ease-in-out;
  z-index: 1;
}
.button-11__icon {
  position: relative;
  display: flex;
  transform: translate3d(0px, -2px, 0px);
  grid-column: 4;
  align-self: start;
  justify-self: end;
  width: 16px;
  height: 16px;
  transition: 0.13s ease-in-out;
}
.button-11__icon svg {
  width: 16px;
  height: 16px;
  fill: #aaaaaa;
}
.button-11__text {
  position: relative;
  transform: translate3d(0px, -2px, 0px);
  margin: 0;
  align-self: end;
  grid-column: 1/5;
  grid-row: 2;
  text-align: center;
  font-size: 16px;
  background-color: #888888;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: 0.13s ease-in-out;
}

/* CSS */
button.button-4,
button.button-4:before,
button.button-4:after {
  box-sizing: border-box;
}

button.button-4 {
  touch-action: manipulation;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  display: block;
  height: 60px;
  width: 175px;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0 auto;
  border-radius: 10px;
  top: 0;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

button.button-4 {
  touch-action: manipulation;
  -webkit-transform: perspective(500px) rotateX(35deg);
}

button.button-4:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  background: #f25d30;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f25d30 0%, #e03b00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f25d30),
    color-stop(100%, #e03b00)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f25d30 0%, #e03b00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f25d30 0%, #e03b00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f25d30 0%, #e03b00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f25d30 0%, #e03b00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f25d30", endColorstr="#e03b00",GradientType=0 );
  /* IE6-9 */
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.3);
}

button.button-4:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 1px;
  height: 15px;
  width: 173px;
  background: #ba2500;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ba2500 0%, #9b3100 100%);
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ba2500),
    color-stop(100%, #9b3100)
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ba2500 0%, #9b3100 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ba2500 0%, #9b3100 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ba2500 0%, #9b3100 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ba2500 0%, #9b3100 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ba2500", endColorstr="#9b3100",GradientType=0 );
  /* IE6-9 */
  border-radius: 0 0 5px 5px;
  -webkit-transform: perspective(500px) rotateX(-40deg);
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.5), 0 3px 2px -1px black;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

button.button-4:hover {
  cursor: pointer;
  top: -3px;
}

button.button-4:hover:after {
  height: 18.5px;
  bottom: -13px;
}

button.button-4:active {
  top: 0px;
}

button.button-4:active:after {
  height: 15px;
  bottom: -10px;
}

button.button-4 .text {
  position: relative;
  z-index: 2;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
